@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

:root {
  /* Colors */
  /* primary */
  --pink-color: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  /* secondary */
  --cyan-color: hsl(192, 100%, 9%);
  --blue-color: hsl(207, 100%, 98%);

  /* Typography */
  /* font-family */
  --heading-font: 'Poppins', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
